<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{ 'nav-list-open': sideNavStatus }">
      <!-- <li class="nav-list-item" *ngFor="let item of list">
        <span>
          <a href="#">{{ item.name }}</a>
        </span>
      </li> -->
  
      <ul class="nav-list">
        <li class="nav-list-item">
          <span>
            <a routerLink="">Primer Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="segundo-sem">Segundo Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="tercer-sem">Tercer Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="cuarto-sem">Cuarto Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="quinto-sem">Quinto Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="sexto-sem">Sexto Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="septimo-sem">Septimo Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="octavo-sem">Octavo Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="noveno-sem">Noveno Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="decimo-sem">Decimo Cuatrimestre</a>
          </span>
        </li>
        <li class="nav-list-item">
          <span>
            <a routerLink="onceavo-sem">Onceavo Cuatrimestre</a>
          </span>
        </li>
      </ul>
    </ul>
  </div>
  