<label for="Alumno" class="form-label">Alumno</label>
<div class="card shadow-sm">
    <div class="row">
        <div class="col-md-6">
            <div class="card-body border-right border-bottom">
                <form class="row">
                    
                    <div class="col-md-4">
                        <label for="Alumno" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="apellido-pat" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="Alumno" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="apellido-mat" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="Alumno" class="form-label">Nombre(s)</label>
                        <input type="text" class="form-control" id="nombres" value="">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-body border-right border-bottom">
                <form class="row">
                    <div class="col-md-9">
                        <label for="Alumno" class="form-label">Carrera</label>
                        <input type="text" class="form-control" id="carrera" value="">
                    </div>
                    <div class="col-md-3">
                        <label for="Alumno" class="form-label">Turno</label>
                        <input type="text" class="form-control" id="turno" value="">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card-body border-right border-bottom">
                <form class="row">
                    <div class="col-md-4">
                        <label for="Alumno" class="form-label">Matricula</label>
                        <input type="text" class="form-control" id="matricula" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="Alumno" class="form-label">Inscripción</label>
                        <input type="text" class="form-control" id="inscripcion" value="">
                    </div>
                    <div class="col-md-4">
                        <label for="Alumno" class="form-label">Seguro Escolar</label>
                        <input type="text" class="form-control" id="segEsc" value="">
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-body border-right border-bottom">
                <form class="row">
                    <div class="col-md-4">
                        <label for="Alumno" class="form-label">Gado y Grupo</label>
                        <input type="text" class="form-control" id="carrera" value="">
                    </div>
                    <div class="col-md-3">
                        <label for="Alumno" class="form-label"><br></label>
                        <input type="text" class="form-control" id="turno" value="">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
