<div class="row">
  <div class="row my-3">
    <div class="col-4"></div>
    <div class="col-4">
      <h5 class="card-header border-bottom bg-secondary">Control De Pagos</h5>
    </div>
    <div class="col-4"></div>
  </div>

  <!-- carnet sep-feb/colegiatura box-->
  <div class="row justify-content-center my-2">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Sept" class="col-form-label">Septiembre</label>
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Feb" class="col-form-label">Febrero</label>
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>

  <!-- carnet Oct-Marz/colegiatura box-->
  <div class="row justify-content-center my-2">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Oct" class="col-form-label">Octubre</label>
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Marz" class="col-form-label">Marzo</label>
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>

  <!-- carnet Nov-Abr/colegiatura box-->
  <div class="row justify-content-center my-2">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Nov" class="col-form-label">Noviembre</label>
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Abr" class="col-form-label">Abril</label>
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>

  <!-- carnet Dic/Jul-Marz/Agos/colegiatura box-->
  <div class="row justify-content-center my-2">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-5 align-items-center">
            <div class="col-3">
              <label for="Dic-Jul" class="col-form-label"
                >Diciembre <br />
                Julio</label
              >
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Marz-Agos" class="col-form-label"
                >Marzo <br />
                Agosto</label
              >
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>

  <!-- carnet Ene-Jun/colegiatura box-->
  <div class="row justify-content-center my-2">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Ene" class="col-form-label">Enero</label>
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #10336c">
          <!--  -->
          <div class="row g-3 align-items-center">
            <div class="col-3">
              <label for="Jun" class="col-form-label">Junio</label>
            </div>
            <div class="col-9">
              <select
                class="form-select bg-dark"
                style="color: aliceblue"
                aria-label="Default select example"
              >
                <option selected>--Seleccione una opción--</option>
                <option value="1" class="form-option bg-success">Pagado</option>
                <option value="2">Adeudo</option>
                <option value="3">Pago atrasado</option>
              </select>
            </div>
          </div>
          <!--  -->
          <!--  -->
          <div class="row g-3 align-items-center my-2">
            <div class="col-3">
              <label for="colegiatura" class="col-form-label"
                >Colegiatura</label
              >
            </div>
            <div class="col-9">
              <input type="text" id="inputspet" class="form-control" />
            </div>
          </div>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
