<!-- <p>tercer-sem works!</p>
<p>{{ totalSales | json }}</p> -->

<div class="row">
  <div class="col-md-2">
    <div class="row">
      <div class="col-md-4">HOLA</div>
      <div class="col-md-4">COMO</div>
      <div class="col-md-4">ESTAS</div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-4">HOLA</div>
      <div class="col-md-4">COMO</div>
      <div class="col-md-4">ESTAS</div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-4">HOLA</div>
      <div class="col-md-4">COMO</div>
      <div class="col-md-4">ESTAS</div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-4">HOLA</div>
      <div class="col-md-4">COMO</div>
      <div class="col-md-4">ESTAS</div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-4">HOLA</div>
      <div class="col-md-4">COMO</div>
      <div class="col-md-4">ESTAS</div>
    </div>
  </div>

  <div class="col-md-2">
    <div class="row">
      <div class="col-md-4">HOLA</div>
      <div class="col-md-4">COMO</div>
      <div class="col-md-4">ESTAS</div>
    </div>
  </div>
</div>
