body {
    font-family: 'Poppins', sans-serif;
    transition: all .3s ease-in-out;
  
  }
  
  .light-theme {
    background: #f5f5f5;
    color: #1a1a1a;
    --text-color: #1a1a1a;
    --button-color: #fff;
  
  }
  
  .dark-theme {
    background: #1a1a1a;
    color: #f5f5f5;
    --text-color: #f5f5f5;
    --button-color: #1a1a1a;
  }
  
  
  