<div class="card shadow-sm">
  <div class="row">
    <h5 class="card-header border-bottom border-md">Alumno</h5>
    <div class="col-md-6">
      <div class="card-body">
        <form class="row">
          <div class="col-md-4">
            <label for="ApellidoPat" class="form-label">Apellido Paterno</label>
            <input
              type="text"
              class="form-control"
              id="apellido-pat"
              value=""
            />
          </div>
          <div class="col-md-4">
            <label for="ApellidoMat" class="form-label">Apellido Materno</label>
            <input
              type="text"
              class="form-control"
              id="apellido-mat"
              value=""
            />
          </div>
          <div class="col-md-4">
            <label for="Nombre" class="form-label">Nombre(s)</label>
            <input type="text" class="form-control" id="nombres" value="" />
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-body">
        <form class="row">
          <div class="col-md-9">
            <label for="Carrera" class="form-label">Carrera</label>
            <input type="text" class="form-control" id="carrera" value="" />
          </div>
          <div class="col-md-3">
            <label for="Turno" class="form-label">Turno</label>
            <input type="text" class="form-control" id="turno" value="" />
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card-body">
        <form class="row">
          <div class="col-md-4">
            <label for="Matricula" class="form-label">Matricula</label>
            <input type="text" class="form-control" id="matricula" value="" />
          </div>
          <div class="col-md-4">
            <label for="Inscripción" class="form-label">Inscripción</label>
            <input type="text" class="form-control" id="inscripcion" value="" />
          </div>
          <div class="col-md-4">
            <label for="SegEsc" class="form-label">Seguro Escolar</label>
            <input type="text" class="form-control" id="segEsc" value="" />
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card-body">
        <form class="row">
          <div class="col-md-4">
            <label for="GradGrup" class="form-label">Grado y Grupo</label>
            <input type="text" class="form-control" id="gradGrup" value="" />
          </div>
          <div class="col-md-3">
            <label for="CicloEsc" class="form-label">Ciclo Escolar</label>
            <input type="text" class="form-control" id="cicloEsc" value="" />
          </div>
          <div class="col-md-5">
            <label for="Incorpor" class="form-label">Incorporación</label>
            <input type="text" class="form-control" id="incorpor" value="" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
